.inactive {
    display: none;
}
.main-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.main-button1 {
    height: 100px;
    width: 250px;
    border-radius: 10px;
    margin: 50px;
    cursor: pointer;
}
.main-button2 {
    height: 100px;
    width: 250px;
    border-radius: 10px;
    margin: 50px;
    cursor: pointer;
}
.title1-container {
    height: 100vh;
    width: 100vw;
    background-color: blue;
    text-align: center;
}
.title2-container {
    height: 600px;
}
.title1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}